<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" />
    <title>Login form</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
<form action="/login/check" method="POST">
    Login: <br>
    <input type="text" name="login">
    <br>
    Password:<br>
    <input type="text" name="password">
    <br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>